* {
  text-align: center;
  background-color: #365160;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
}

h2 {
  margin-top: 100px;
}

hr {
  width: 70%;
  margin-top: -75px;
}

div.react-datepicker__day {
  background-color: #fff;
  color: black;
}

div.react-datepicker__current-month {
  background-color: #fff;
}

div.react-datepicker__day-names {
  background-color: #fff;
}

div.react-datepicker__day-name {
  background-color: #fff;
}

div.react-datepicker__header {
  background-color: #fff;
}

div.react-datepicker-popper {
  margin-left: 40%;
  background-color: #fff;
  border-radius: 5px;
}

div.react-datepicker__month-container {
  background-color: #fff;
}

div.react-datepicker__week {
  background-color: #fff;
}

input {
  background-color: #fff;
  color: black;
  height: 30px;
  width: 100px;
  border-radius: 5px;
}

div.react-datepicker__day--selected {
  color: black;
  background-color: #efe8ad;
}

button {
  margin-top: 10px;
  background-color: #efe8ad;
  color: black;
  height: 30px;
  width: 100px;
  font-size: 15px;
  border-radius: 5px;
}

div.react-datepicker__triangle::before {
  border: none !important;
}

div.react-datepicker__triangle::after {
  border: none !important;
}

.container {
  border: 1px solid;
  box-shadow: 0px 0px 5px 3px #EFE8AD;
  margin-top: 20px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 5px;
  transition: ease 1s;

}

.container:hover{
  box-shadow: 0px 0px 10px 6px #EFE8AD;
  margin-left: 450px;
  margin-right: 450px;
  padding: 20px;
}

@media only screen and (max-width: 1225px) {
 .container {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
 }
}

p {
  font-size: 40px;
  margin-bottom: -2px;
}

/* COLOR PALETTE
blue #365160
tan #EFE8AD
green #AADD96
orange #F28512
yellow #F6BC3B
*/
